<%- include("header")  %>

<div id="main">
  <%- include("nav") %>
    
  <div class="hero">
    <div class="sidenav">
        <a href="/home">Dashboard</a>
        <a href="/category">Category</a>
        <a href="/transaction">Transaction</a>
    </div>
    <div class="sideleft">
        
        <a style="color: red;" href="/addexpense">+ Add</a>

        
        
    </div>
  </div>
</div>
<%- include("footer")  %>