<%- include('header') %>
<div id="main">
    <%- include("nav") %>
  
    <div class="formbox">
      <h2>Login</h2>
      <form id="register" action="/login" method="post">
        <!-- <label class="regl" for="email">Email</label>
        <input id="email" type="email" placeholder="Email Address" name="email"> -->
        <label class="regl" for="username">Username</label>
        <input id="username" type="username" placeholder="Username" name="username">
        <label class="regl" for="password">Password</label>
        <input id="password" type="password" placeholder="Create Password" name="password">
        <button class="btn">Login</button>
      </form>
      <a id="forget" href="/forget">Forget Password</a>
      <p>Don't have an account? 
        <a href="/Register">Register</a>
      </p>
    </div>
  </div>
<%- include('footer') %>
