<nav id="nav">
    <% if(!admin){ %>
        <h1>Expense Tracker</h1>
    
    <% } else { %>
        <h1>Expense Tracker</h1>
        <div class="navleft"><a href="/reset">Reset Password</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/logout">Logout</a></div>
    <% } %>
</nav> 
