<%- include("header")  %>

<div id="main">
  <%- include("nav") %>
    

      <h1>Reset Password</h1>

    <form class="fgtoptpwd" action="/newpassword/<%= id%>" method="POST">
    <input type="password" placeholder="Create New Password" name="password" />
    <button class="btn">confirm</button>
    <br />
    </form>
</div>
<%- include("footer")  %>